@model IEnumerable<DictionaryMVCWebApp.Models.Word>

@{
    ViewData["Title"] = "Index";
}



@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<h4 class="card-title mt-5"> @Html.DisplayNameFor(model => model.Words)</h4>

@foreach (var item in Model)
{
    
    <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
        <div class="card-body">
            <h5 class="card-text">  @Html.DisplayFor(modelItem => item.Words)</h5>

            <a asp-action="Edit" asp-route-id="@item.Id" class="card-link btn btn-outline-light">Edit✏️</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="card-link btn btn-outline-light">Details🗒️</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="card-link btn btn-outline-light">Delete🗑️</a>


        </div>
    </div>
}